@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@{ var model1 = ViewBag.res;}

@foreach (var items in model1.KhoaHoc)
{
    <h3>@items.MoTaKH</h3>
}


@* // Import the functions you need from the SDKs you need
    import { initializeApp } from "firebase/app";
    import { getAnalytics } from "firebase/analytics";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBHnpucTHLw8GIPvKDhtCH7qcOlIw0J4ME",
      authDomain: "hocgido-feedback.firebaseapp.com",
      projectId: "hocgido-feedback",
      storageBucket: "hocgido-feedback.appspot.com",
      messagingSenderId: "28173697410",
      appId: "1:28173697410:web:5a6c7c2ff074a7377ccf9b",
      measurementId: "G-VH8NWR86C6"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app); *@

@*
        {
      "type": "service_account",
      "project_id": "hocgido-feedback",
      "private_key_id": "1fdd3eef1002c0c15c72c4c920293c1dee3e3a15",
      "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDR1G3Y/HCw6uAQ\nw7OZzl0wCpa72fg8u89I9aBF8fQKmdDpgWdMMhl2y4BTVuIMR8VR/TUQ+Q2ZzobV\ng9o0iKZ3jSI53gXTStMX9yU7hFGuawjPKSci4F6cPPPmqS0fYax8ZCWkzsWakP+Q\nJTW673rXxp6BvaTLz0gL7PJ1NpdVTt/7q0r/2nWTRQW1NDAp1WptxgPNi/puZdE4\nX1rthrI2PQRw+5ggbG6VT9u9mNoIRyQoozY7IDBSG4Oqom7j+3XVdIpzzSZ9N/9u\nWw1sGDOVoAVz1dz8k8A8+51QClfkLlGDHyhTvkNHxXgthZ5op2ZkWuxcMejNkS2Z\nrkQAmiH5AgMBAAECggEALOaQOwaJ9tHL8Mpv/FG0jzs01i3meNiXmr009sK3viz8\nD3upZxyxZkJVy3+kD4ysJMdSO7ePuYIASGBWqTc0qBCDam6gQH6afV5dkUbXU8OD\ntxDPVx88H6LLbmh1R2nXRycHByVYE6NDjMzpmn70gof2Ez1JrnNEr4icuYhdCdvb\neCuJ8we63BdEJ69qBbxfvmsKIp5eoUu13u1/PQG9tKL9ztbJv/FIc7ApRz7sbTjH\no5p4znpHSbvWmQGxt82fSZSHXZBYZ6SQ80o791o2Y9buZuj1J6NrnmdrM4q+GZUH\ns1k6lmWUAsrFbEqfreDtGawmVyjjjglM7vmv4dO2oQKBgQD7/0Tjq4HMn/CLqAzn\nxPy9XxWLkG4MJ2OUdibJduOpUYIyguNg2s41pcjzlc+aT8wxcZ6rXdcwRbDoc2w4\nVB8WUyYSEyYkl2/RvP5mrQvV8PVGLFxVSZbcYxOXN6g/3OYCDKfBqmt9TbcZ7/Ar\n4aTgxSKzptjGOL9HXdFJBhKi3wKBgQDVKbBnpc2sPVTDrB7td0avx/UYoNmQPJj2\nB4a7Ca01K/t4Fbt5AtMUe2rsZrlDloFI8Rnt2+oeNF+AZxslmDJnjjY2Cg8FjHau\nD38hGE8lKcEMt6Q+hkpgGA/ctpO3RiqkTWnbfx2381xY2reMEwv1uswntTdZ8scv\nPxnl4qjuJwKBgQDEez2gcopLHO22RnqBf/M8SFYJMrzLVy7qg9EsRjmuPDJS5gEZ\n9KDR7YiofEeZXtysNJXtscZmCgCszco0hUqT4pMNhsa3wyfZlg2ZyxUuY6kqZM49\nZZpuDgYpYqkZ2kewk2N9uj4DPkQkwhM2c8JVyv+Kqe3daEOkBn92+3guawKBgCDH\nfmcR6iTYcZZ9e2wM8YPKffhBk/NIPkVnNuLARDBvCQaYYPHk60y1BeZAjbDFDjCH\nUvNu4/utFhqKwHPxiZ6/EbsRpOm3hfCSVXxjXphaaWNpQgqTYBCS4q2QLfr7AUeu\n1953F7zX4ZWQXLVfoHEzPn3EsjRUzyiGzZa6Wjv1AoGBAOK8b0+n3BQ4dYwE16fH\nXQq+Q2YB4m7Wad/WjIewBKhuRLTode9Mk+qg6kjOmWwh8dGKr+gFS+BKtVZ1xfm2\nfz9b+Uwzn6jMxp3u0LyQXhkbvfXLvMyXYdQC/ZibCdl5BFj8xPJQQ9ZRMqOKA/9L\ng1fteDG6chLsumfa/8oCNZ8K\n-----END PRIVATE KEY-----\n",
      "client_email": "firebase-adminsdk-ntbcj@hocgido-feedback.iam.gserviceaccount.com",
      "client_id": "101147635882168020684",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-ntbcj%40hocgido-feedback.iam.gserviceaccount.com"
    }

*@